<%= link_to "Back to Crowdfunder", projects_path %>

<% @user.rewards.each do |reward| %>
	<h4>Rewards for User </h4>
	<%= reward.project.name %>
	<%= reward.description %>
<% end %>
	
	<h4> Total Amount Spent on Pledges</h4>
	
<% @user.pledges.each do |pledge| %>
<%= pledge.reward.backer_limit%>

<% end %>